<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<Platform>Any CPU</Platform>
		<PublishDir>..\Output\Stipstonks\$(RuntimeIdentifier)</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<TargetFramework>net8.0</TargetFramework>
		<SelfContained>true</SelfContained>
		<PublishSingleFile>true</PublishSingleFile>
		<PublishReadyToRun>false</PublishReadyToRun>
		<IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
	</PropertyGroup>
</Project>